@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-container{
    margin: 0 auto;
    width: 1250px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.banner-container img{
    width: 100%;
    align-items: center;
    justify-content: center;
   
}
.banner-pic{
    width: 173.03px;
    height: 228.9px;
    

}
.btn{
    padding: 21px 24px 21px 24px;
}
.banner-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
 
}
.banner-container p{
    padding: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.btn{
    padding: 20px 18px 18px 20px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
.btn-container{
    padding: 20px;
    text-align: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-container{
    width: 830px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;

}
.container-head h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 10px;
}
.container-head p{color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    padding: 30px 60px;
}
.card-content{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;


}
.card-content p{color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    padding-bottom: 2px;

}
  .single-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    padding: 48px;
    width: 830px;
  }
.white-btn{
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 20px;
}
.layer1{
    width: 220.56px;
    height: 180.01px;
}
.layer1 img{
    width: 100%;
}
.single-card{
    padding: 10px 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.card-sub-container{
    padding: 0 40px;
}
.vedio-container{
    width: 830px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}
.vedio-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px;
}
.vedio-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 15px;
    padding-bottom: 30px;

}
.vedio{
    width: 830px;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
iframe{
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    background: url(Jhankar);

}
.target-content{
    width: 830;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}
.target-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.card-frame1{
    background-color: rgba(255, 76, 30, 0.05);
    width: 240px;
    height: auto;
    padding: 25px;
    border-radius: 16px;
    margin: 0 10px;

}
.card-frame2{
    width: 240px;
    background-color:rgba(0, 76, 232, 0.05);
    height: auto;
    padding: 25px;
    border-radius: 16px;
    margin: 0 10px;
}
.card-frame3{
    background-color: rgba(255, 223, 0, 0.05);;
    width: 240px;
    height: auto;
    padding: 25px;
    border-radius: 16px;
    margin: 0 10px;
}
.card-frame img{
    position: relative;
    min-width: 70px;
    max-height: 50px;
    padding-bottom: 5px;
}
.card-frame h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-frame p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    width: 830px;
    margin: 0 auto;
    
    
}
.card-frame1 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 20px;
    margin: 50px 0;
}
.card-frame2 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 10px;
}
.card-frame3 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-top: 2px;
    
}
.cards-container{
    width: 880px ;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.cards-container .card-frame1 p,a{
    padding: 20px 0;
}
.cards-container .card-frame2 p,a{
    padding: 15px 0;
}
.cards-container .card-frame3 h1,p,a{
    padding: 5px 0;
}
.feedback-container{
    width: 830px;
    margin: 30px auto;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color:rgb(63, 58, 58);
    background-blend-mode: overlay;
    
}
.support-content{
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 10px; */
    padding-top: 10px;
}
.support-content h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.support-content p{color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 10px auto;
}
.input-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}
.input-content input{
    width: 350px;
    height: 35px;
    padding: 15px 16px 15px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
}
.input-content button{
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
   
}
footer h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

 .icon-content{
    width: 157.01px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
 }
#foot-container{
    width: 830px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}